{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Django Application</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur at vitae assumenda, quaerat ullam iure cumque quo vel nisi mollitia eligendi expedita molestias totam aspernatur incidunt eos est quibusdam atque eveniet ipsam iste cupiditate. Magnam amet magni unde labore sit, sed recusandae. Doloribus distinctio nihil pariatur fugiat dignissimos et consequuntur!</p>
        <img src="{% static 'img/code.jpg' %}" alt="" srcset="">
    </div>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>